<section class="kommvorbei">
    <h2>Komm vorbei</h2>
    <div class="kommvorbei__map">
        <iframe class="kommvorbei_map--iframe" 
         src="https://www.openstreetmap.org/export/embed.html?bbox=10.116745233535768%2C54.33904035642527%2C10.12771010398865%2C54.34466301897322&amp;layer=mapnik&amp;marker=54.34184876482555%2C10.122237856326592">
        </iframe>
    </div>
</section>

