* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  border-sizing: border-box;
}

body {
  background: var(--white);
}

.hero-section {
  height: 75vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../images/header_images/header_startseite.jpg");
  background-blend-mode: overlay;  
  background-color: rgba(0, 0, 0, 0.3);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

h1 {
  font-size: var(--h1-font-size);
  font-weight: 900;
  line-height: var(--h1-line-height);
  text-align: center;
}

.h1-white {
  color: var(--white);
}

/*h2 on the main page*/
.h2-main {
  font-size: var(--h2-font-size);
  font-weight: var(--h2-font-weight);
  line-height: var(--h2-line-height);

    @media (min-width: 435px) {
      width: 16ch;
  }

  @media (min-width: 1200px) {
      width: auto;
      margin-left: auto;
      margin-right: auto;

  }
}

.h2-white {
  color: var(--white);
}

.h2-centered {
  text-align: center;
}

h3 {
  font-size: var(--h3-font-size);
  font-weight: var(--h3-font-weight);
  line-height: var(--h3-line-height);
}

.h3-white {
  color: var(--white);
}

/* text on the main page */
.p-main {
  font-size: var(--text-font-size);
  font-weight: var(--text-font-weight);
  line-height: var(--text-line-height);
  padding-top: 15px;
}

.p-white {
  padding-top: 15px;
  color: var(--white);
}

img {
  max-width: 100%;
  height: auto;
}

/** header **/
.text-header {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  color: var(--white);
}

.header-button-container {
  position: absolute;
  bottom: 60px;
  margin-left: 50%;
  transform: translate(-50%);
}

.header-button {
  width: 163px; /* hier wird die Gesamtbreite des Buttons festgelegt */
  display: block;
  box-sizing: border-box;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 5px;
  background: var(--anthrazit);
  color: var(--white);
  text-decoration: none;
} 

.header-button:hover {
  background: var(--hover-grey);  
}

.header-button:active {
  background: var(--kraftpapier);
}

.icon-container {
  width: 100%;
  position: absolute;
  top: 10px;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
}

.logo {
  height: 35px;
  width: 35px;
  filter: invert(94%) sepia(0%) saturate(26%) hue-rotate(104deg) brightness(105%) contrast(108%);
  /*filter wurde von der Webseite CodePen generiert*/
}

.hamburger {
  float: right;
  filter: invert(94%) sepia(0%) saturate(26%) hue-rotate(104deg) brightness(105%) contrast(108%);
  height: 25px;
  width: 25px;
  margin-top: 5px;
}


/** content blocks **/
.light-body {
  padding-left: 24px;
  padding-right: 24px;
  background: var(--white);
}

.dark-body {
  padding-left: 24px;
  padding-right: 24px;
  background: var(--anthrazit);
}


/* Main text on the main page (index.html)*/
.main-content__container {
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
}


/** Rösterei & Bio und Fair, Text mit Bilder **/
.besucher-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.mainpage__img--right {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
}

.mainpage__img--right img {
  width: 75%;
  max-width: 450px;
}

.mainpage__img--left {
  height: auto;
  width: 100%;
  margin-top: 40px;
}

.mainpage__img--left img {
  width: 75%;
  max-width: 450px;
}

/** Entdecke unsere Kaffeesorten, Produktvorschau **/
.section-products {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 63px;
  background: var(--anthrazit);
  position: relative;

    @media (min-width: 992px) {
      padding-left: 100px;
      padding-right: 100px;
  }
}

.flex-container-products {
  width: 100%;
  max-width: 1080px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

    @media (min-width: 1200px) {
      margin-left: auto;
      margin-right: auto;
  }
}

.flex-container-products > .product {
  width: calc((100% - 20px)/2);
  margin-top: 40px;

    @media (min-width: 568px) {
      width: calc((100% - 60px) / 4);
      
  }
}

.product .product-image-container {
  background-color: var(--white);
  width: 100%;
}

.product .product-image-container img {
  width: 100%;
}


.subhead__m {
  color: var(--white);
  font-size: 18px;
  line-height: 21px;
  margin-top: 10px;
}

.bodytext__m {
  color: var(--grey);
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 5px;

  @media (min-width: 568px) {
    line-height: 21px;
  }

  @media (min-width: 992px) {
  line-height: 24px;
  }
}

.products__icons {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(11deg) brightness(105%) contrast(102%);
  width: 12px;
  height: 13px; 
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.section-products__button-container {
  padding-top: 20px;
  padding-bottom: 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}


.section-products__button-container--btn {
  color: white;
  width: 182px;
  height: 48px;
  border: 3px solid #fff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center; 
}


.herkunft {
  background-image: url("../images/startseite/FEND-Coffee-bags-2.png");
  background-blend-mode: overlay;  
  background-color: rgba(0, 0, 0, 0.5);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  min-height: 332px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.poem {
  font-size: var(--text-font-size);
  font-weight: var(--text-font-weight);
  line-height: var(--text-line-height);
  color: var(--white);
  padding-top: 10px;
  padding-bottom: 10px;
}


/** Das steckt drin **/
.das-steckt-drin {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* Komm vorbei Section*/
.kommvorbei h2 {
  padding-left: 24px;
  padding-bottom: 30px;
}

.kommvorbei__map {
  height: 230px;
  width: 100%;
}

.kommvorbei_map--iframe {
  height: 100%;
  width: 100%;
  border: 1px solid black; 
}


/*footer Bereich */
footer {
  background-color: var(--black);
  color: var(--white);
  padding: 60px 25px 50px 25px;

  @media (min-width: 900px) {
    display: flex;
    padding: 211px 25px 183px 25px;
  }
}

.footer-content {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;

  @media (min-width: 900px) {
    display: flex;
  }
}

.footer-left-wrapper {
  @media (min-width: 900px) {
    margin-right: 10%;
    position: relative;
  }
}

.footer-logo {
  margin-bottom: 1rem;
  width: 35px;

  filter: invert(94%) sepia(0%) saturate(26%) hue-rotate(104deg) brightness(105%) contrast(108%);

  @media (min-width: 900px) {
    position: absolute;
    bottom: calc(100% + 1rem);
  }
}

.footer-title {
  font-size: 24px;
  font-weight: 900;

  @media (min-width: 900px) {
    font-size: 42px;
    line-height: 1;
    margin-bottom: 1rem;
  }
}

.footer-subtitle {
  font-size: 18px;
  margin-bottom: 2rem;
}

.footer-info-wrapper {
  display: flex;
  justify-content: space-between;
  margin-right: 1rem;
  margin-bottom: 2rem;

  @media (min-width: 900px) {
    display: block;
    margin-right: 0;
    width: 25%;
  }
}

.footer-address-wrapper {
  width: 50%;

  @media (min-width: 900px) {
    margin-bottom: 27px;
    width: auto;
  }
}

.footer-opening-times {
  width: 50%;

  @media (min-width: 900px) {
    width: auto;
  }
}

.footer-nav {
  display: flex;
  justify-content: space-between;

  @media (min-width: 900px) {
    width: 25%;
  }

  & ul {
    width: 50%;
    list-style-type: none;

    @media (min-width: 900px) {
      width: auto;
    }

    &:first-child {
      @media (min-width: 900px) {
        order: 1;
      }
    }

    & li {
      & a {
        color: #fff;
      }
    }
  }
}


/** jungfräuliche boilerplate.. ggf. noch nützlich
body {
  background: var(--white);
  
  @media (min-width: 768px) {
    color: red;
  }
}

main {
  margin: 0 auto;
  max-width: 1440px;

  & div {
    color: yellow;

    @media (min-width: 768px) {
      color: var(--div-color);
    }
  }
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: var(--h1-font-size);
  font-weight: var(--h1-font-weight);
  line-height: var(--h1-line-height);
  color: black;
}


h2 {
  font-size: var(--h2-font-size);
}

**/